################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/cpp_study/.vs/cpp_study/v16/ipch
/cpp_study/.vs/cpp_study/v16
